$font-family: 'Inter', sans-serif;

$color-1:hsl(240,38%,20%); 
$color-2:hsl(240,18%,77%); 
$color:white;

$border-radius-1:5px;
$border-radius-2:20px;

$font-size:32px;

$font-size-1:1.5em;
$font-size-2:1.3em;
$font-size-3:.8em;
$font-size-4:.6em;
$font-size-5:.5em;



$font-weight:(
    'light':300,
    'regular':500,
    'bold':700

);
$box-shadow: 10px 29px 74px -35px rgba(0,0,0,0.75);

