@import "./variables";
@import "./mixin";

@import "./layout";

@import "./component/person-photo-container";
@import "./component/testimonal-container";
@import "./component/attribution";


//global

a
{
    text-decoration: none;
    color: black;
    &:hover
    {
        text-decoration: underline;
    }
}
img
{
    width: 100%;
    height: 100%;
}

